@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Av fictitious one<br />
    São Paulo, SP 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Contact:</strong> <a href="mailto:softlima.itsolutions@outlook.com">softlima.itsolutions@outlook</a><br />
</address>
